html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin: 12px;
    background: #f9f6ec;
    color: #222;
}

body {
    max-width: 720px;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 1em;
}

header img {
    max-height: 36px;
    margin-right: 12px;
}

nav {
    font-size: 18px;
    text-align: center;
    margin: 2em 0em;
}

nav a {
    margin: 0 .5em;
    color: #222;
}

nav a.active {
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 2em 0em 0.5em 0em;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 1em 0em 0.5em 0em;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 1em 0em 0.5em 0em;
    opacity: 70%;
}

.header-section-number:after {
    content: ".";
}

img {
    max-width: 90%;
}

th, td {
    padding: 0em 0.5em;
    vertical-align: top;
}

th {
    opacity: 70%;
    font-weight: normal;
}

p:has(a[href^="examples/"]) {
    text-align: center;
}

figure {
    text-align: center;
    margin-bottom: 2em;
}

blockquote {
    border-left: 4px solid #bbb;
    padding-left: 1em;
    margin-left: 0;
}
